@import '../css/product.css';

.nav-item-hide{
	display: none;
}

.header-nav{
	font-size: 14px;
	color: #23A6F0;
	cursor: pointer;
	text-decoration: none;
}

.member-ship{
	gap: 45px;
}

.about-primary-link{
	padding: 15px 25px;

}

.about-primary-link span {
	margin-left: 15px;
}
.about-primary-btn {
	background-color: #23A6F0;
	color: #fff;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	text-decoration: none;
	gap: 15px;
	z-index: 1;
	transition: all 0.3s ease-in;
}

.about-primary-btn::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	direction: rtl;
	z-index: -1;
	background: #3a98f0d2;
	border-radius: 5px;
	transition: all .3s ease;
}

.about-primary-btn:hover::after {
	width: 100%;
	left: auto;
	right: 0;
}

.transparent-primary{
	background-color: #FFE9EA;
	border-radius: 50%;
	border: 0;
	position: absolute;
}

.large-shape{
	width: 484px;
	height: 484px;
	right: 58px;
	top: 0;
	z-index: -1;
}

.about {
	padding-block: 50px;
}

.about-us{
	max-width: 1050px;
	margin-inline: auto;
	justify-content: space-around;
	gap: 30px;
	flex-wrap: wrap;
}

.about-secondary-btn{
	padding: 15px 33px;
	max-width: 193px;
	font-size: 14px;
}

.about-us-info{
	max-width: 510px;
	gap: 35px;
	padding: 10px;
}

.about-company{
	text-transform: uppercase;
}

.about-us-heading{
	font-size: 58px;
	text-transform: uppercase;
	color: #252B42;
}

.about-us-description{
	font-size: 20px;
	max-width: 376px;
}

.medium-shape{
	position: absolute;
	width: 77px;
	height: 77px;
	top: 0;
}

.sm-shape{
	position: absolute;
	width: 33px;
	height: 33px;
	bottom: 375px;
	right: 0;
}

.transparent-secondary{
	background: #977DF4;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
}

.primary-shape {
	bottom: 258px;
}

.secondary-shape {
	top: 140px;
	right: 0;
}

.img-div {
	max-width: 571px;
}

@media (max-width:992px){
	.about-us {
		flex-direction: column;
		text-align: center;
		gap: 41px;
		padding: 20px;
	}

	.about-secondary-btn{
		margin-inline: auto;
	}

	.member-ship{
		display: none;
	}

	.nav-item-hide{
		display: flex;
	}

	.img-div{
		max-width: 500px;
		margin-left: auto;
		margin-right: 20px;
	}

	.about-us__img{
		width: 100%;
	}

	.img-w-container {
		max-width: 100%;
	}

	.medium-shape {
		width: 47px;
    height: 47px;
}
	.large-shape {
		width: 430px;
    height: 430px;
	}

	.nav-links, .main-header {
		background: #f6f6f6;
	}

	.mobile-menu-icon {
		margin-top: 0;
	}
}

@media (max-width:768px){
	.large-shape {
		width: 295px;
		height: 295px;
	}

	.medium-shape {
		width: 47px;
		height: 47px;
		left: 100px;
	}

	.secondary-shape {
		top: 87px;
		right: 17px;
	}

	.primary-shape {
		bottom: 338px;
		left: 99px;
	}

}

@media (max-width:550px) {
	.img-div{
		max-width: 375px;
	}

	.large-shape {
		width: 250px;
		height: 250px;
}

.medium-shape {
	left: 0;
}

.sm-shape {
	bottom: 219px;
	right: 27px
}

.primary-shape {
	bottom: 194px;
	left: 17px;
}

}

.statistics-container {
	max-width: 1050px;
	margin-inline: auto;
	gap: 80px;

}
.info-group {
	gap: 60px;
	align-items: center;
}

.info-details {
	gap: 24px;
	max-width: 394px;
}

.info-title {
	font-size: 14px;
	color: #E74040;
	line-height: .7;
}

.info-description {
	font-size: 24px;
	line-height: 32px;
}

.additional-info {
	font-size: 14px;
	line-height: 20px;
}

@media (max-width:768px) {
	.info-group {
		flex-direction: column;
		padding-inline: 16px;
	}

	.info-details {
		text-align: center;
	}

	.additional-info {
		max-width: 353px;
	}
}

.stats-container {
	gap: 30px;
	justify-content: space-between;
	padding: 20px;
}

.stat-block {
	text-align: center;
}

.stat-number {
	font-size: var(--primary-heading-font-size);
	line-height: 80px;
}


@media (max-width:768px) {
	.stats-container {
		flex-direction: column;
		gap: 100px;
	}
}

.media{
	max-width: 1050px;
	margin-inline: auto;
	margin-block: 112px;
}

.media-img{
	max-width: 993px;
	max-width: 100%;
	border-radius: 10px;
	object-fit: cover;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}

.play-btn {
	background: #23A6F0;
	width: 92px;
	height: 92px;
	border-radius: 50%;
	border: 0;
	position: absolute;
	left: 42%;
  top: 49%;
  transform: translateY(-50%);
}

@media (max-width:768px) {
	.media, .media-img {
		max-width: 100%;
	}

	.media {
		padding-inline: 53px;
	}
}

.team-container {
	max-width: 1050px;
	margin-inline: auto;
	gap: 112px;
}

.team-info {
	text-align: center;
	gap: 10px;
}
.team-info-title {
	font-size: var(--secondary-heading-font-size);
	line-height: 50px;
}

.team-info-description {
	font-size: var(--sm-font-size);
	line-height: 20px;
}

.team-members {
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
}

.icon {
	cursor: pointer;
}

.icon path{
	fill: #23A6F0;

	&:hover {
		fill: var(--font-color);
	}
}

@media (max-width:768px) {
	.team-members {
		flex-wrap: wrap;
		justify-content: center;
	}

	.team-container {
		padding-inline: 26px;
	}

	.instagram path{
		fill: #E51F5A;
	}

	.facebook path{
		fill: #335BF5;
	}
}

.team-members-details {
	max-width: 316px;
	text-align: center;
	transition: all .3s ease-in;

	&:hover {
		transform: scale(1.04);
	}
}

.team-members-img {
	max-width: 316px;
	object-fit: cover;
	overflow: hidden;
}

.team-members-img img {
	width: 100%;
}

.team-members-title {
	color: var(--font-color);
}

.team-members-description {
	font-size: var(--sm-font-size);
}

.social-acounts {
	gap: 20px;
	align-items: center;
	justify-content: center;
}

.team-members-info {
	gap: 10px;
	padding-block: 30px;
}

.partners-info {
	gap: 30px;
}

.partners-company {
	gap: 30px;
	justify-content: space-between;
}

@media (max-width:768px) {
	.partners-company {
		flex-direction: column;
	}
}

.partners-info-title {
	font-size: var(--secondary-heading-font-size);
}

.partners-info-description {
	font-size: var(--sm-font-size);
	line-height: 20px;
}

.partners {
	text-align: center;
	margin-inline: auto;
}

.work__container {
	max-width: 1440px;
	margin-inline: auto;
	background: #2A7CC7;
	justify-content: space-between;
}

.work__info {
	color: #fff;
	gap: 24px;
	max-width: 460px;
	margin-inline: auto;
}

.work__info-title {
	text-transform: capitalize;
	color: #fff;
}

.work__info-heading {
	font-size: var(--secondary-heading-font-size);
	text-transform: capitalize;
}

.work__info-description {
	font-size: var(--sm-font-size);
	color: #fff;
	max-width: 440px;
}

.work__button {
	border: 1px solid #fff;
	color: #fff;
	padding: 15px 40px;
	border-radius: 5px;
	max-width: 130px;
	background: transparent;
	cursor: pointer;
	transition: all .3s ease-in;
	&:hover {
		color: var(--font-color);
	}

}

@media (max-width:768px) {
	.work-img {
		display: none;
	}

	.work__button {
		margin-inline: auto;
	}

	.work__info {
		text-align: center;
	}

	.work__container {
		padding:90px 30px;
	}
}