@import '../css/product.css';
@import '../css/shop.css';
@import '../css/style.css';

.nav-item-hide{
	display: none;
}

.header-nav{
	font-size: 14px;
	text-decoration: none;
	color: #23A6F0;
	font-weight: 700;
	cursor: pointer;
}

.member-ship{
	display: flex;
	gap: 45px;
}

.member-link{
	padding: 15px 25px;
	background-color: #23A6F0;
	color: #fff;
	border-radius: 5px;
	gap: 5px;
	transition: all 0.3s ease-in;

	&:hover{
		background-color: #000;
	}
}

.header{
	justify-content: space-around;
}

.transparent-primary{
	background-color: #FFE9EA;
	border-radius: 50%;
	border: 0;
	position: absolute;
}

.large-shape{
	width: 484px;
	height: 484px;
	right: 58px;
	top: 0;
	z-index: -1;
}

.about {
	padding-block: 50px;
}

.about-us{
	max-width: 1050px;
	margin-inline: auto;
	justify-content: space-around;
	gap: 30px;
	flex-wrap: wrap;
}

.about-us-btn{
	background-color: #23A6F0;
	color: #fff;
	padding: 15px 33px;
	text-decoration: none;
	max-width: 193px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	transition: all 0.3s ease-in;
	
	&:hover{
		background-color: #000;
	}
}

.about-us-info{
	max-width: 510px;
	gap: 35px;
	padding: 10px;
}


.about-company{
	color: #252B42;
	font-weight: 700;
	text-transform: uppercase;
}

.about-us-heading{
	font-size: 58px;
	font-weight: bold;
	text-transform: uppercase;
	color: #252B42;
}

.about-us-description{
	font-size: 20px;
	max-width: 376px;
}

.medium-shape{
	position: absolute;
	width: 77px;
	height: 77px;
	top: 0;
}

.sm-shape{
	position: absolute;
	width: 33px;
	height: 33px;
	bottom: 375px;
	right: 0;
}

.transparent-secondary{
	background: #977DF4;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	position: absolute;
}

.primary-shape {
	bottom: 258px;
}

.secondary-shape {
	top: 140px;
	right: 0;
}

.img-div {
	max-width: 571px;
}

@media (max-width:992px){
	.about-us {
		flex-direction: column;
		text-align: center;
		gap: 41px;
		padding: 20px;
	}

	.about-us-btn{
		margin-inline: auto;
	}

	.member-ship{
		display: none;
	}

	.nav-item-hide{
		display: flex;
	}

	.img-div{
		max-width: 500px;
		margin-left: auto;
	}

	.about-us__img{
		width: 100%;
	}

	.img-w-container {
		max-width: 100%;
	}

	.medium-shape {
		width: 47px;
    height: 47px;
}
	.large-shape {
		width: 430px;
    height: 430px;
	}
}

@media (max-width:768px){
	.large-shape {
		width: 295px;
		height: 295px;
	}

	.medium-shape {
		width: 47px;
		height: 47px;
		left: 100px;
	}

	.secondary-shape {
		top: 0;
		right: 0;
	}

	.primary-shape {
		bottom: 338px;
		left: 99px;
	}

}

@media (max-width:550px) {
	.img-div{
		max-width: 375px;
	}

	.large-shape {
		width: 250px;
		height: 250px;
}

.medium-shape {
	left: 0;
}

.sm-shape {
	bottom: 292px;
}

.primary-shape {
	bottom: 211px;
	left: 28px;
}
}
/* .customer-review-container {
	max-width: 1440px;
	max-width: 100%;
}

.customer-review-container-info{
	max-width: 1080px;
}

.customer-review-txt{
	color: #E74040;
	font-size: 14px;
} */