@import '../css/about.css';

.pricing {
	padding-block: 50px;
}
.pricing__content {
	max-width: 870px;
	margin-inline: auto;
	gap: 16px;
}

.pricing__subtitle {
	font-size: var(--primary-heading-font-size);
}

@media (max-width:992px) {
	.pricing__subtitle {
		font-size: 40px;
	}

	.nav-links, .main-header {
		background-color: #F6F6F6;
	}
}

.switch {
	display: inline-block;
	width: 45px;
	height: 25px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	cursor: pointer;
	border: 1px solid #23A6F0;
	background: #fff;
	-webkit-transition: .4s;
  transition: .4s;
}

.slider::before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 4px;
	bottom: 3px;
	background-color: #EBEBEB;
	border: 1px solid #D0D0D0;
	-webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
	background-color: #252B42;
	border: 1px solid #252B42;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.pricing-options {
	background: #fafafa;
	padding-block: 112px;
}

.pricing-options__container {
	max-width: 1050px;
	margin-inline: auto;
	gap: 48px;
}

.pricing-options__header {
	gap: 10px;
	text-align: center;
}

.pricing-options__title {
	font-size: var(--secondary-heading-font-size);
}

.pricing-options__description {
	font-size: var(--sm-font-size);
}

.pricing-options__toggle {
	gap: 12px;
	margin-bottom: 48px;
}

.pricing-options-discount {
	padding: 10px 20px;
	background: #B2E3FF;
	color: #23A6F0;
	border-radius: 34px;
	font-size: var(--sm-font-size);
}

.pricing-plan__card {
	text-align: center;
	max-width: 327px;
	gap: 35px;
	background: #FFF;
	border-radius: 10px;
	padding: 50px 40px;
}

.pricing-plan__title {
	font-size: var(--medium-font-size);
}

.pricing-plan__description {
	line-height: 24px;
}

.pricing-plan__cost {
	gap: 10px;
}

.pricing-plan__amount, .pricing-plan__currency-symbol {
	color:#23A6F0;
}

.pricing-plan__amount {
	font-size: var(--secondary-heading-font-size);
}

.pricing-plan__currency {
	align-items: flex-start;
}

.pricing-plan__currency-symbol {
	font-size: var(--medium-font-size);
}

.pricing-plan__frequency {
	color: #8EC2F2;
	font-size: var(--sm-font-size);
}

.features {
	gap: 16px;
}

.pricing-plan__features {
	gap: 10px;
}

.pricing-plan__icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #2DC071;
	padding: 8px 10px;
}

.pricing-plan__feature-text {
	font-size: var(--sm-font-size);
}

.pricing-plan__icon-bg {
	background: #BDBDBD;
}

.pricing-plan__cta {
	text-decoration: none;
	padding: 15px 42px;
	color: #fff;
	background: var(--font-color);
	border-radius: 5px;
	font-size: var(--sm-font-size);
	font-weight: var(--font-weight-bold);
	text-transform: capitalize;
	width: 246px;

	&:hover {
		color: #BDBDBD;
	}
}

.pricing-plan-standard-card {
	background-color: var(--font-color);
	margin-top: -40px;
}

.standard-card-font-color {
	color: #fff;
}

.standard-card-cta {
	background: #23A6F0;
}

.pricing-plan {
	flex-wrap: wrap;
	justify-content: center;
}

@media (max-width:768px) {
	.pricing-options {
		padding: 30px 41px;
	}

	.pricing-plan {
		gap: 30px;
	}

	.pricing-plan__card {
		border-radius: 0;
	}

	.pricing-plan-standard-card {
		margin-top: 0;
	}
}

.pricing-plan-partner-title {
	font-size: 20px;
}

.partners {
	flex-grow: 1;
	width: 100%;
	padding: 0;
}

.pricing-faqs-section {
	padding-block: 80px;
}

.pricing-faqs-content {
	max-width: 1050px;
	margin-inline: auto;
	gap: 45px;
}

.pricing-faqs__info {
	gap: 10px;
	text-align: center;
}
.pricing-faqs__info-title {
	font-size: var(--secondary-heading-font-size);
}

.faq-title {
	font-size: 16px;
}

.faq__question {
	gap: 20px;
	align-items: flex-start;
	max-width: 437px;
}

.faq__answer {
	gap: 10px;
}

.answer {
	font-size: var(--sm-font-size);
}

.faq__arrow{
	cursor: pointer;
}

.faq__item, .faq {
	gap: 30px;
}

.contact-support {
	font-size: 20px;
}

@media (max-width:768px) {
	.faq__arrow  {
		display: none;
	}

	.faq {
		flex-direction: column;
	}

	.contact-support {
		text-align: center;
	}

	.pricing-faqs-section {
		padding-inline: 16px;
	}
}

.trial-section {
	padding-block: 160px;
}

.trial-section__content {
	max-width: 607px;
	margin-inline: auto;
	gap: 30px;
	align-items: center;
	text-align: center;
}

.trial-section__title {
	font-size: var(--secondary-heading-font-size);
}

.trial-section__description {
	font-size: var(--sm-font-size);
}

.trial-section__cta {
	padding: 15px 40px;
	color: #fff;
	text-decoration: none;
	background: #2196F3;
	font-size: var(--sm-font-size);
	border-radius: 5px;

	&:hover {
		color: #252B42;
	}
}

.trial-section__socials {
	gap: 34px;
}

.trial-section__social-link-fa svg{
	background: #395185;
	width: 30px;
	height: 30px;
}

@media (max-width:768px) {
	.trial-section {
		text-align: center;
		padding-inline: 41px;
	}

	.footer-nav-container {
		margin-inline: 0;
	}
}

