@import '../css/style.css';

.announcement{
	background-color:#23856D;
}

@media (max-width:992px){
	.announcement{
		display: none;
	}
}

.announcement-bar {
		max-width: 1042px;
		margin-inline: auto;
}

.announcement-bar-txt{
	font-size: 12px;
	font-weight: normal;
}

.header {
	justify-content: space-between;
	max-width: 1042px;
	margin-inline: auto;
}

.jcc{
	justify-content: center;
}

.breadcrumbs {
	gap: 15px;
	font-size: 14px;
}

.link-arrow {
	font-size: 0;
}

.breadcrumbs__link {
	font-size: var(--sm-font-size);
	color: #BDBDBD;
}

.shopping-section{
	background: #FAFAFA;
	padding-block: 24px;
}

@media (max-width:992px){
	.shopping-section{
		padding: 0 41px;
	}
}

.shop-card {
	max-width: 1050px;
	margin-inline: auto;
	gap: 24px;

}

.img-container {
	max-width: 205px;
	object-fit: cover;
	overflow: hidden;
	position: relative;
}

.img-container img {
	width: 100%;
	transition: all 0.3s ease-in-out;

	&:hover{
		transform: scale(1.1);
	}
}

.shop-card-img-info {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
	flex-direction: column;
	gap: 9.5px;
}

.shop-card-img-info p {
	font-size: 14px;
	color: #FFF;
}

.shop-card-img-info h5 {
	font-size: 24px;
	font-weight: 700;
	color: #FFF;
}

.shop-card-img{
  gap: 15px;
}

@media (max-width:992px) {
	.shop-card-img {
		flex-wrap: wrap;
	}

	.img-container {
		width: 100%;
		max-width: 100%;
	}

	.nav-item-hide {
		display: none
	}

	.shop-card-img-info {
		left: 50%;
	}

  .shop-card{
    padding: 0;
  }

  .featured-collection{
    padding: 24px 41px;
  }

  .featured-collection-card{
    justify-content: space-around;
  }

  .card-txt {
    flex-grow: 1;
  }

}
@media (max-width:768px){

	.shop-card-header,.shop-card-img {
		flex-direction: column;
	}

	.shop-card-img{
		align-items: center;
	}

	.shop-card-header {
		gap: 54px;
	}

	.shop-card-img-info {
		left: 35%;
	}

}

.selection{
	padding-block: 37px;
}

@media (max-width:992px) {
	.selection{
		padding: 41px;
	}
}

.shop-result {
	max-width: 1050px;
	margin-inline: auto;
}

@media (max-width:768px) {
	.shop-result{
		flex-direction: column;
		gap: 24px;
	}
}

.shop-result-text {
	font-size: 14px;
}

.views {
	gap: 15px;
}

.view-btn {
	padding: 16px;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	background: #FFF;
	transition: all 0.3s ease-in;
}

.view-btn:hover {
	background: #c4c4c4;
}

.sort {
	display: flex;
	gap: 15px;
}

.sort select {
	padding: 11px 18px;
	color: #737373;
	border: 1px solid #DDDDDD;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f0f0f0;
}

.filter-btn {
	padding: 12px 27px;
	background: #23A6F0;
	color: #FFF;
	border: 0;
	font-size: 14px;
	border-radius: 5px;
	transition: all 0.3s ease-in;

}

.filter-btn:hover {
	background: #252B42;
}

.view-btn,.filter-btn {
	cursor: pointer;
}

.featured-collection-card {
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
}

@media (max-width:768px) {
	.featured-collection-card {
		width: 100%;
		justify-content: space-around;
    justify-content: center;
	}

	.featured-collection {
		padding: 24px 35px;
	}
}

.work-with{
	padding-block: 80px;
	background: #FAFAFA;
}

@media (max-width:992px){
	.work-with{
		padding: 41px;
	}
}

.partners {
	max-width: 1050px;
	margin-inline: auto;
	gap: 55px;
	flex-wrap: wrap;
}

@media (max-width:992px) {
	.partners{
		justify-content: center;
	}
}

@media (max-width:768px) {
	.partners{
		flex-direction: column;
    gap: 60px;
	}

	.artners-info {
		max-width: 307px;
	}
}

footer{
	padding-block: 40px;
}

.footer-nav-container {
	padding: 0;
	margin-inline: 0;
}

@media (max-width:992px) {
 footer{
	padding: 41px;
 }
}

.footer{
	gap: 60px;
	max-width: 1050px;
	margin-inline: auto;
}

.footer-nav {
	background: #FFF;
	border-bottom: 1px solid #E6E6E6;
	padding: 0;
	padding-bottom: 20px;
	justify-content: space-between;
	padding-bottom: 40px;
}

@media (max-width:414px){
	.Subscirbe-btn {
	right: -55px;
	}
}

.pagination-section {
	padding-block: 48px;
}

.pagination {
	border-radius: 5px;
}

.pagination-two {
	color: #FFF !important;
	background: #23A6F0;
}

.pagination .pagination-two:hover {
	background-color: transparent;
	color: #23A6F0 !important;
}

.pagination a {
	color: #23A6F0;
	text-decoration: none;
	padding: 25px 20px;
	display: inline-block;
	font-size: 14px;
	transition: all 0.3s ease-in;
	border: 1px solid #BDBDBD

}

.pagination a:hover {
	background-color: #23A6F0;
	color: #FFF;
	font-size: 14px;
}

.back,.next {
	padding: 25px 20px;
	border: 0;
	cursor: pointer;
	border: 1px solid #BDBDBD
}

.next {
	color: #23A6F0;
	border-top-right-radius: 5px;
 	border-bottom-right-radius: 5px;
}

.back {
	background: #F3F3F3;
	color: #BDBDBD;
	border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.shopping-logo {
	transition: all 0.3s ease-in;
}

.shopping-logo :hover {
	fill: #252B42;
}

@media (max-width:992px) {
	.user-icon{
		width: 27px;
	}

	.header-text {
		font-size: 30px;
		color: #23A6F0;
	}

	.counter{
		color: #23A6F0 !important;
		margin-left: 0;
	}
}

  .nav-links {
    gap: 15px;
  }

.nav-hide {
	display: none;
}

.nav-item-hide {
	margin-left: auto;
}

@media (max-width:992px) {
	.nav-hide{
		display: flex;
		gap: 8px;
	}

	.nav-item-hide {
		display: none;
	}
}

@media (max-width:1070px) {
	.header-links{
		gap: 50px;
	}
}