@import '../css/style.css';

.announcement-bar {
	padding: 19px 242px 15px 197px;
    justify-content: space-between;
    background-color:#23856D;
}

.announcement-bar-txt{
	font-size: 12px;
	font-weight: normal;
}

.header {
	padding: 26px 203px 27px 197px;
	justify-content: space-between;
}

.jcc{
	justify-content: center;
}

.shop-header-links {
	gap: 15px;
	font-size: 14px;
	font-weight: bold;
}

.link-arrow {
	font-size: 0;
}

.shop-card-header__home {
	color: #252B42;
}

.shop-card {
	background: #FAFAFA;
	max-width: 1440px;
	max-width: 100%;
	display: flex;
	padding: 30px 176px 48px 176px;
}

.img-container {
	max-width: 205px;
	object-fit: cover;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-in;
}

.img-container:hover {
	transform: scale(1.1);
	border-radius: 10px;
}

.img-container img {
	width: 100%;
}

.shop-card-img-info {
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
	flex-direction: column;
	gap: 9.5px;
}

.shop-card-img-info p {
	font-size: 14px;
	color: #FFF;
}

.shop-card-img-info h5 {
	font-size: 24px;
	font-weight: 700;
	color: #FFF;
}

.shop-card-img{
  gap: 15px;
}

.shop-card-header {
	padding-block: 24px;
}

@media (max-width:992px) {
	.shop-card-img {
		flex-wrap: wrap;
	}

	.img-container {
		width: 100%;
		max-width: 100%;
	}

	.nav-item-hide {
		display: none
	}

	.shop-card-img-info {
		left: 50%;
	}

  .header{
    padding: 14px 36px;
  }

  .shop-card{
    padding: 24px 41px;
  }

  .cards-container{
    padding: 24px 41px;
  }

  .cards-container-card{
    justify-content: space-around;
  }

  .card-txt {
    flex-grow: 1;
  }

}
@media (max-width:768px){

	.shop-card-header,.shop-card-img {
		flex-direction: column;
	}

	.shop-card-img{
		align-items: center;
	}

	.shop-card-header {
		padding-block: 54px;
		gap: 54px;
	}

	.shop-card {
		padding: 23px 35px;
	}

	.shop-card-img-info {
		left: 35%;
	}

}

.shop-result {
	padding: 37px 196px;
	max-width: 1440px;
	max-width: 100%;
}

@media (max-width:992px){
  .shop-result {
    padding: 24px 80px;
  }
}
@media (max-width:768px) {
	.shop-result{
		flex-direction: column;
		gap: 24px;
	}
}

.shop-result-text {
	font-size: 14px;
	font-weight: bold;
}

.views {
	gap: 15px;
}

.view-btn {
	padding: 16px;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	background: #FFF;
	transition: all 0.3s ease-in;
}

.view-btn:hover {
	background: #c4c4c4;
}

.sort {
	display: flex;
	gap: 15px;
}

.sort select {
	padding: 11px 18px;
	color: #737373;
	border: 1px solid #DDDDDD;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f0f0f0;
}

.filter-btn {
	padding: 12px 27px;
	background: #23A6F0;
	color: #FFF;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	transition: all 0.3s ease-in;

}

.filter-btn:hover {
	background: #252B42;
}

.view-btn,.filter-btn {
	cursor: pointer;
}

.cards-container-card {
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 30px;
}

.cards-container {
	padding: 48px 196px;
	max-width: 1440px;
	max-width: 100%;
}

@media (max-width:768px) {
	.cards-container-card {
		width: 100%;
		justify-content: space-around;
    justify-content: center;
	}

	.cards-container {
		padding: 24px 35px;
	}
}

.partners {
	max-width: 1440px;
	max-width: 100%;
	padding: 66px 196px;
	background: #FAFAFA;
	gap: 55px;
	flex-wrap: wrap;
}

@media (max-width:992px) {
	.partners{
		justify-content: center;
	}
}

@media (max-width:768px) {
	.partners{
		flex-direction: column;
    gap: 60px;
    padding-block: 110px;
	}
}

.footer-nav {
	background: #FFF;
	padding: 40px 196px;
}

.footer-nav-container {
	padding: 40px 196px;
}

@media (max-width:414px){
	.Subscirbe-btn {
		right: -55px;
	}
}

.pagination {
	border-radius: 5px;
	padding-block: 48px;
}

.pagination-two {
	color: #FFF !important;
	background: #23A6F0;
}

.pagination .pagination-two:hover {
	background-color: transparent;
	color: #23A6F0 !important;
}

.pagination a {
	color: #23A6F0;
	text-decoration: none;
	padding: 25px 20px;
	border: 1px solid #E9E9E9;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	transition: all 0.3s ease-in;
	border: 1px solid #BDBDBD

}

.pagination a:hover {
	background-color: #23A6F0;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
}

.back,.next {
	padding: 25px 20px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #BDBDBD
}

.next {
	color: #23A6F0;
	border-top-right-radius: 5px;
 	border-bottom-right-radius: 5px;
}

.next:hover {
	background-color: #000;
	color: #FFF;
}

.back {
	background: #F3F3F3;
	color: #BDBDBD;
	border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.back:hover {
	background: #000;
	color: #FFF;
}

.shopping-logo {
	transition: all 0.3s ease-in;
}

.shopping-logo :hover {
	fill: #252B42;
}

@media (max-width:992px) {
	.user-icon{
		width: 34px;
	}

	.header-text {
		font-size: 30px;
		color: #23A6F0;
	}

	.counter{
		color: #23A6F0 !important;
	}
}

  .nav-links {
    gap: 30px;
  }

.nav-hide {
	display: none;
}

.nav-item-hide {
	margin-left: auto;
}

@media (max-width:992px) {
	.nav-hide{
		display: flex;
	}

	.nav-item-hide {
		display: none;
	}

  .partners {
    padding: 50px;
  }

  .footer-nav {
    padding: 40px 44px;
  }

  .footer-nav-container {
    padding: 40px 44px;
  }
}

@media (max-width:1070px) {
	.header-links{
		gap: 50px;
	}
}