@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--primary-heading-font:58px;
	--secondary-heading-size:40px;
	--font-size:14px;
	--medium-size:24px;
	--font-color:#252B42;
	--bg-color: #2DC071;
	--width:16px;
	--height:16px;
	--color:#fff;
	--bold:700;

}

body{
	font-family: "Montserrat", sans-serif;
}

html:focus-within{
	scroll-behavior: smooth;
}

.flex{
	display: flex;
}

.flex-wrap{
	flex-wrap: wrap;
}
.icons{
	width: var(--width);
	height: var(--icons-primary-height);
	fill: var(--color);
}

.icons:hover{
	fill: #23A6F0;
}

.phone-icon:hover{
	fill: #23856D;
}

.user-icon{
	fill: #23A6F0;
}

.user-icon:hover{
	fill: #23856D;
}

.align-items{
	align-items: center;
}

.transform-capitalize{
	text-transform: uppercase;
}

p,a{
	color: #737373;
}

.announcement-bar{
	background-color: #252B42;
	padding: 14px 34px;
	justify-content: space-between;
	color: var(--color);
	font-size: var(--font-size);
	font-weight: var(--bold);
	max-width: 1440px;
	max-width: 100%;
	font-size: 0;
}

@media (max-width:992px){
	.announcement-bar{
		display: none;
	}
}

.spacing-wrapper{
	gap: 20px;
}


.text-primary{
	font-size: var(--secondary-font-size);
	font-weight: var(--bold);
}

.white-txt{
	color: #fff;
}

.header{
	padding: 14px 34px;
	justify-content: space-between;
	max-width: 1437px;
	max-width: 100%;
	flex-wrap: nowrap;
	font-size: 0;
}

.mobile-menu-icon {
	display: none;
}

@media (max-width: 992px) {
	.nav-item-hide {
		display: none;
	}

	.nav-links{
		transform: translateX(100%);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 55px;
		left: 0;
		z-index: 999;
		opacity: 0;
		background-color: #fff;
    display: flex !important;
		justify-content: center;
    flex-direction: column;
		transition: transform 0.2s ease-in, opacity 0.2s linear;
	}

	.active-menu {
		transform: translateX(0);
		display: block;
		opacity: 1;
	}

	.mobile-menu-icon {
		display: block;
		cursor: pointer;
	}

	.user-icon{
		fill: var(--font-color);
	}
}

.secondary-txt{
	font-size: var(--font-size);
	font-weight: var(--bold);
}

.anchor-links{
	text-decoration: none;
	color: #fff;
}

ul li a{
	text-decoration: none;
}

.brand-text{
	padding-right: 119px;
}

.brand-logo{
	font-size: var(--medium-size);
	color: var(--font-color);
	font-weight: var(--bold);
}

.brand-logo:hover{
	font-size: 25px;
	color: #23856D;
	font-weight: bolder;
}

.list-style{
	list-style: none;
}

.header-text{
	color: #23A6F0;
}

.header-icons{
	gap: 10px;
}

.counter{
	font-size: 12px;
	padding-left: 10px;
}

.primary-btn{
	padding: 15px 40px;
	background-color: var(--bg-color);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
}

.primary-btn:hover{
	background-color: #40b99c;
}

.relative{
	position: relative;
}

.collection{
	max-width: 1440px;
	max-width: 100%;
}

h1{
	font-size: var(--primary-heading-font);
	font-weight: var(--bold);
	padding-block: 35px;
}


.collection-info__text{
	color: #fafafa;
	font-size: 20px;
	max-width: 396px;
	padding-bottom: 35px;
}

.featured-product-designer-design{
	max-width: 239px;
	max-width: 100%;
	flex-direction: column;
	transition: background-color 0.7s ease-in-out;
}

.featured-product-designer-design:hover{
	filter: brightness(80%);
}

.collection-info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  left: 197px;
	z-index: 1;
}

.left-arrow{
	left: 40px;
}

.right-arrow{
 	right: 40px;
}

.arrows{
	width: 30px;
	fill: var(--color);
	position: absolute;
	top: 42%;
	transform: translateY(-42%);
	z-index: 1;
}

.arrows:hover{
	fill: #151b19;
}

.footer-icons{
	fill: #23A6F0;
	width: 23px;
}

.footer-icons:hover{
	fill: #252B42;
}

a:hover{
	color: #23A6F0;
}

.collection-bg{
	width: 100%;
	object-fit: cover;
	display: none;
	z-index: -1;
	animation-name: slideInFade;
	animation: slideInFade 1s ease-out forwards;
}

@keyframes slideInFade {
	0% {
		opacity: 0;
		transform: translateX(50px) scale(0.95);
}
	50% {
		opacity: 0.5;
		transform: translateX(-10px) scale(1.05);
}
	100% {
		opacity: 1;
		transform: translateX(0) scale(1);
}
}

.responsive-image{
	visibility: hidden;
}

.featured-product-designer-title{
	font-weight: var(--bold);
	padding-top: 25px;
	padding-bottom: 10px;
}

.product-price{
	gap: 5px;
	padding-block: 10px 12px;
}

.product-price-primary{
	color: #BDBDBD;
	font-weight: var(--bold);
}

.product-price-secondary{
	color: #23856D;
	font-weight: var(--bold);
}

.tranparent-div{
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.tranparent-div-primary-color{
	background: #23A6F0;
}

.tranparent-div-secondary-color{
	background: #23856D;
}

.tranparent-div-orange-color{
	background: #E77C40;
}

.tranparent-div-dark-color{
	background: #252B42;
}

.featured-product-designer-color-div{
	gap: 6px;
}

.featured-product{
	flex-direction: column;
	gap: 80px;
	max-width: 1124px;
	padding-bottom: 80px;
	margin-inline: auto;
}

.featured-product-designer{
	gap: 30px;
}

.featured-product-title{
	font-size: 20px;
}

.featured-product-heading{
	padding-block: 10px;
	font-size: var(--medium-size);
	font-weight: var(--bold);
}

.featured-product-description{
	font-size: var(--font-size);
	letter-spacing: 0.2px;
}

.classic-product{
	max-width: 1049px;
	max-width: 100%;
	margin-inline: auto;
	padding-top: 112px;
}

.classic-arrow{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.classic-collection{
	background: #23856D;
}
.classic-product-image-container{
	max-width: 443px;
	margin-bottom: -5px
}

.classic-product-image{
	width: 100%;
}

.classic-product-text{
	max-width: 509px;
}

.classic-product-title{
	font-size: var(--primary-heading-font);
	font-weight: var(--bold);
	color: var(--color);
	padding-top: 30px;
}

.classic-product-description{
	max-width: 341px;
	font-size: var(--font-size);
	color: var(--color);
	padding-block: 30px;
}

.classic-product-buttons{
	gap: 34px;
}

.classic-product-price{
	font-size: var(--font-size);
	font-weight: var(--bold);
	color: var(--color);
}

.classic-product-content{
	justify-content: space-evenly;
}
 @media (max-width:992px){
	.classic-product-content{
		flex-direction: column;
	}
 }
 
.classic-product-right{
	top: 330px;
}

.men:hover{
 background-color: #b4b4b4;
}

.advestisement{
	max-width: 725px;
	object-fit: cover;
}

.advertisment-banner{
	width: 100%;
}

.txt-w-img-text-session{
	color: #BDBDBD;
	font-weight: var(--bold);
}

.txt-w-img-title{
	color: var(--font-color);
	font-size: 40px;
	font-weight: var(--bold);
	max-width: 375px;
	padding-block: 30px;
}

.txt-w-img-description{
	max-width: 383px;
	font-size: 20px;
	padding-bottom: 30px;
	line-height: 1.5;
}

.read-me-btn{
	background: none;
	color: #2DC071;
	font-size: var(--font-size);
	font-weight: var(--bold);
	border: 1px solid currentColor;
}

.txt-w-img{
	gap: 60px;
}

.buying-section{
	max-width: 1200px;
	margin-inline: auto;
}

.buying-btn{
	gap: 10px;
}

.new-collection{
	max-width: 1050px;
	margin-inline: auto;
	flex-direction: column;
	padding-block: 112px;

}

.advice{
	font-size: var(--font-size);
	color: #23A6F0;
	font-weight: var(--bold);
	padding-bottom: 10px;
}

.new-collection-title{
	font-size: var(--medium-size);
	font-weight: var(--bold);
	padding-bottom: 10px;
	color: var(--font-color);
}

.new-collection-description{
	max-width: 469px;
	font-size: 20px;
	margin-inline: auto;
	line-height: 1;
	padding-bottom: 80px;
	text-align: center;
}

.new-collection-items-description{
	max-width: 348px;
}

.new-collection-description-picture{
	max-width: 348px;
	object-fit: cover;
}

.new-collection-img{
	width: 100%;
}

.new-collection-items-list{
	gap: 15px;
	font-size: 12px;
	list-style: none;
}

.google-link{
	color: #23A6F0;
}

.new-collection-description-details-heading{
	font-size: 20px;
	font-weight: 400;
	color: var(--font-color);
	padding-block: 10px;
}

.new-collection-description-details{
	padding: 25px;
}

.new-collection-description-details-text{
	max-width: 280px;
	font-size: var(--font-size);
	line-height: 20px;
	font-weight: 400;
}

.post-img{
	width: 16px;
	height: 16px;
}

.post-txt{
	font-size: 12px;
}

.post-announcment{
	justify-content: space-between;
	padding-block: 20px 25px;
}

.timer{
	gap: 10px;
}

.trading{
	gap: 10px;
}

.more-details-link{
	gap: 20px;
}

.more-details-link a{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

.new-collection-containers{
	gap: 20px;
	flex-wrap: nowrap;
}

.new-product{
	color: var(--color);
	background-color: #E74040;
	padding: 5px 10px 5px 10px;
	position: absolute;
	top: 20px;
	left: 20px;
	font-weight: var(--bold);
	border-radius: 5px;
	font-size: 20px;
}

.new-collection-items{
	position: relative;
	box-shadow: 0px 2px 4px 0px #0000001A;
	transition: background-color 0.5s ease-in-out;
}

.new-collection-items:hover{
	background-color:#dadada;
}

.footer{
	max-width: 1440px;
	max-width: 100%;
}

.footer-socail-links{
	justify-content: space-between;
	background-color: #FAFAFA;
	padding: 40px 195px;
}

.footer-link-list{
	font-size: 0;
	gap: 20px;
	flex-wrap: nowrap;
}

.customer-collection{
	justify-content: center;
	gap: 30px;
}
.customer-collection-men{
	max-width: 551px;
	object-fit: cover;
}

.customer-collection-btn{
	position: absolute;
	bottom: 26px;
	left: 31px;
	text-transform: uppercase;
	padding: 12px 64px 12px 56px;
	background-color: var(--color);
	font-weight: bold;
	border: 0;
	font-size: 16px;
}
.customer-collection-women{
	object-fit: cover;
}

.women-collection{
	padding: 12px 33px;
	left: 21px;
	bottom: 18px;
}

.customer-collection-image{
	width: 100%;
}

.accesories-collection{
	padding: 12px 26px;
	left: 8px;
}

.editor-pick{
	flex-direction: column;
	align-items: center;
	padding-block: 80px;
	gap: 48px;
	background: #D9D9D9;
}

.editor-pick-heading{
	font-size: var(--medium-size);
	font-weight: var(--bold);
	color: #252B42;
	padding-bottom: 10px;
}

.editor-pick-paragraph{
	font-size: var(--font-size);
	font-weight: var(--header-width-color);
	line-height: 1.4;
}

.customer-collection-col{
	flex-direction: column;
	gap: 16px;
}

.customer-collection-btn:hover{
	cursor: pointer;
	 background-color: rgb(131, 121, 121);
}

.read-me-btn:hover{
	background: #66b5e33f;
}

.collection-bg-768{
	display: none;
}

.footer-link-cotainer{
	justify-content: space-between;
	padding: 40px 195px;
	gap: 30px;
	flex-wrap: wrap;
}

.footer-links{
	flex-direction: column;
	gap: 20px;
}

.input,.Subscirbe-btn{
	padding: 15px 20px;
	border: 1px solid #E6E6E6;
	cursor: pointer;
}

.Subscirbe-btn{
	background: #23A6F0;
	color: var(--color);
	font-size: var(--font-size);
	font-weight: var(--bold);
	position: absolute;
	right: 0;
	top: 63px;
	border-radius: 0 5px 5px 0;
}

.Subscirbe-btn:hover{
	background: rgba(129, 24, 24, 0.788);
}

.input::placeholder{
	font-size: 14px;
	color: #737373;
	text-transform: capitalize;
 }

 .input{
	border-radius: 5px;
 }

.footer-heading{
	color: #252B42;
	font-weight: var(--bold);
	padding-bottom: 10px;
	font-size: 20px;
	padding-bottom: 20px;
 }

 .footer-link-cotainer ul a{
	font-weight: var(--bold);
 }

 .cp-R{
	font-weight: var(--bold);
	padding: 25px 195px;
	background: #FAFAFA;
 }

 .featured-product-text-container{
	max-width: 699px;
	max-width: 100%;
	padding: 40px;
	text-align: center;
 }

 .editor-pick-info{
	max-width: 607px;
	max-width: 100%;
	text-align: center;
 }

 .activities-container{
	width: 62px;
	height: 10px;
	position: absolute;
	bottom: 49px;
	background: var(--color);
	padding: 0;
 }

 .active{
	left: 657px;
 }

 .inactive{
	left: 720px;
	opacity: 50%;
 }

 .svg-icon{
	width: 16px;
	height: 16px;
	fill: var(--font-color);
 }

 .bar-container {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 2px;
}

.bar {
	height: 5px;
	background-color: var(--font-color);
}

.bar-1 {
	width: 32px;
}

.bar.bar-2 {
	width: 21px;
}

.bar.bar-3 {
	width: 16px;
}

.bar.bar-2:active{
	opacity: 0;
}
.h5{
	font-weight: var(--bold);
	color: var(--color);
	font-size: 16px;
}

.collection-bg.active {
	display: block;
}

.slider-buttons {
	display: flex;
	justify-content: center;
	gap: 5px;
	position: absolute;
	left: 40%;
	transform: translatey(50%);
	bottom: 50px;
}

.slider-btn {
	width: 62px;
	height: 10px;
	background-color: var(--color);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	padding: 0;
}

.slider-btn.active {
	background-color: #ffffff7d;
}

.slider-btn:hover {
	opacity: 50%;
}

.lore-text{
	font-size: 12px;
	color: #737373;
}
@media (max-width:1040px){

	.featured-product-designer{
		justify-content: center;
	}

	.txt-w-img{
		flex-direction: column-reverse;
		margin-inline: auto;
		padding-top: 120px;
	}

	 .collection-info {
		left: 73px;
	}

	.classic-product-text{
		max-width: 100%;
	}

	.active{
		left: 430px;
	}

	.inactive{
		left: 494px;
	}

	.product-designer{
		padding: 0;
	}

}

@media (max-width:768px){
	.new-collection-containers{
		flex-direction: column;
	}

	.classic-product-text{
		text-align: center;
	}

	.classic-product-description{
		margin-inline: auto;
	}

	.classic-product-buttons,.featured-product-designer,.buying-btn,.customer-collection{
		flex-direction: column;
	}

	.txt-w-img-text,.collection-info,.editor-pick{
		text-align: center;
	}

	.buy-btn{
		background-color: #23A6F0;
		width: 151px;
	}

	.buy-btn,.read-me-btn{
		border-color: #23A6F0;
		font-size: 14px;
		margin-inline: auto;
	}

	.read-me-btn{
		color: #23A6F0;
		width: 171px;
	}

	.buying-section {
		padding: 9px;
	}

	.new-collection{
		text-align: center;
		padding: 41px;
	}

	.new-collection-containers{
		text-align: start;
	}

	.collection-bg{
		display: none;
	}

	.collection-info{
		left: auto;
		padding: 30px;
	}

	h1{
		font-size: 40px;
	}

	.collection-info__text{
		max-width: 100%;
	}

	.customer-collection {
		align-items: center;
	}

	.customer-collection-men,.customer-collection-women,.customer-collection-accesories,.customer-collection-kids {
		width: 324px;
	}

	.collection-bg-768{
		display: block;
		width: 100%;
	}

	.left-arrow,.right-arrow{
		top: 50%;
		transform: translateY(-50%);
	}

	.featured-product-designer-design{
		width: 348px;
	}

	.header-links{
		justify-content: space-between;
		width: 100%;
		flex-wrap: nowrap;
	}

	.footer-socail-links,.footer-link-cotainer {
		flex-direction: column;
		padding: 40px;
	}

	.footer-socail-links{
		gap: 24px;
		align-items: flex-start;
	}
	.cp-R{
		padding: 94px;
		max-width: 193px;
		max-width: 100%;
		text-align: center;
	}

	.featured-product-text-container{
		max-width: 279px;
	}

	.editor-pick-paragraph{
		max-width: 196px;
	}

	.activities-container{
		display: none;
	}

	.change-img-1 img,.change-image img,.change-img img,.responsive1-768 img,.responsive2-768 img,.responsive3-768 img {
		display: none;
	}

	.change-img-1{
		content: url(/assets/customers/accesories.svg);
	}

	.change-image {
		content: url(/assets/products/expert-porduct.svg);
	}

	.change-img{
		content: url(/assets/customers/men.svg);
	}

	.responsive1-768{
		content: url(/assets/new-collection/new-collection-768.svg);
		width: 100%;
	}

	.responsive2-768{
		content: url(/assets/new-collection/new-collection2-768.svg);
		width: 100%;
	}

	.responsive3-768{
		content: url(/assets/new-collection/new-collection3-768.svg);
		width: 100%;
	}

	.collection-bg.active{
		display:none;
	}

	.classic-arrow{
		top: 45%;
	}

	.slider-buttons{
		display: none;
	}

.classic-collection-btn{
	width: 171px;
	padding: 15px;
	font-size: var(--font-size);
}
}

