@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--primary-heading-font:58px;
	--secondary-heading-size:40px;
	--font-size:14px;
	--medium-size:24px;
	--font-color:#252B42;
	--bg-color: #2DC071;
	--width:16px;
	--height:16px;
	--color:#fff;
	--bold:700;

}

body {
	font-family: "Montserrat", sans-serif;
}

html:focus-within {
	scroll-behavior: smooth;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.relative {
	position: relative;
}

.fdc {
	flex-direction: column;
}

.aic {
	align-items: center;
}

.jcb {
	justify-content: space-between;
}

.jcc {
	justify-content: center;
}

.secondary-txt {
	font-size: 14px;
	font-weight: bold;
}

.icons {
	width: var(--width);
	height: var(--icons-primary-height);
	fill: var(--color);
}

.zero-font-size{
	font-size: 0;
}

.icon-wrapper{
	gap: 5px;
}

.ul-li{
	gap: 15px;
}

.transform-capitalize {
	text-transform: uppercase;
}

p,a {
	color: #737373;
}

.announcement-bar {
	background-color: #252B42;
	padding: 19px 34px 15px 34px;
	color: var(--color);
	font-size: var(--font-size);
	font-weight: var(--bold);
	max-width: 1440px;
	max-width: 100%;
}

@media (max-width:992px) {
	.announcement-bar{
		display: none;
	}
}

.spacing-wrapper {
	gap: 10px;
}

.social-links{
	gap: 10px;
}

.text-primary {
	font-size: var(--secondary-font-size);
	font-weight: var(--bold);
}

.universal-color {
	color: #fff;
}

.header {
	padding: 16px 19px 16px 38px;
	max-width: 1440px;
	max-width: 100%;
	flex-wrap: nowrap;
	font-size: 0;
}

.mobile-menu-icon {
	display: none;
}

.brand-logo {
	font-size: var(--medium-size);
	color: var(--font-color);
	font-weight: var(--bold);
}

.brand-logo:hover {
	font-size: 25px;
	color: #23856D;
	font-weight: bolder;
}

.header-links {
	gap: 120px;
}

@media (max-width: 992px) {
	.nav-item-hide {
		display: none;
	}

	.nav-links {
		transform: translateX(100%);
		width: 100%;
		height: 100%;
		position: fixed;
		top: 55px;
		left: 0;
		z-index: 999;
		opacity: 0;
		background-color: #fff;
    display: flex !important;
		justify-content: center;
    flex-direction: column;
		transition: transform 0.2s ease-in, opacity 0.2s linear;
	}

	.active-menu {
		transform: translateX(0);
		display: block;
		opacity: 1;
	}

	.mobile-menu-icon {
		display: block;
		cursor: pointer;
	}

	.user-icon path {
		fill: var(--font-color);
	}

	.counter {
		color: var(--font-color) !important;
	}

	.header {
		padding: 15px;
	}
}

.anchor-links {
	text-decoration: none;
	color: #fff;
}

ul li a {
	text-decoration: none;
}


.list-style {
	list-style: none;
}

.header-text {
	color: #23A6F0;
}

.header-icons {
	gap: 6px;
}

.counter {
	font-size: 12px;
	margin-left: 5px;
}

.primary-btn {
	padding: 15px 40px;
	background-color: var(--bg-color);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
	transition: all 0.3s ease-in;
	text-decoration: none;
}

.primary-btn:hover {
	background-color: #2b4942;
	color: #FFF;
}

.collection {
	max-width: 1440px;
	max-width: 100%;
}

h1 {
	font-size: var(--primary-heading-font);
	font-weight: var(--bold);
	padding-block: 35px;
}


.collection-info__text {
	color: #fafafa;
	font-size: 20px;
	max-width: 396px;
	padding-bottom: 35px;
}

.card-txt {
	max-width: 239px;
	max-width: 100%;
	padding-block: 20px;
	transition: all 0.3s ease-in;
}

.card-txt:hover {
	transform: scale(1.1);
	border-radius: 5px;
	box-shadow: 0 5px 0 0 #F3F3F3;
}

.collection-info {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  left: 197px;
	z-index: 1;
}

.left-arrow {
	left: 40px;
}

.right-arrow {
 	right: 40px;
}

.arrows {
	position: absolute;
	top: 42%;
	transform: translateY(-42%);
	z-index: 1;
	cursor:pointer;
}

.arrows path:hover {
	fill: #151b19;
}

.footer-icons {
	fill: #23A6F0;
	width: 23px;
	transition: all 0.3s ease-in;
}

.footer-icons:hover {
	fill: #2f45a0;
}

a:hover {
	color: #23A6F0;
}


.cards-container-card-title {
	font-weight: var(--bold);
	padding-top: 25px;
	padding-bottom: 10px;
}

.product-price {
	gap: 5px;
	padding-block: 10px 12px;
}

.product-price-primary {
	color: #BDBDBD;
	font-weight: var(--bold);
}

.product-price-secondary {
	color: #23856D;
	font-weight: var(--bold);
}

.tranparent-div {
	width: 16px;
	height: 16px;
	border-radius: 50%;
}

.tranparent-primary {
	background: #23A6F0;
}

.tranparent-orang {
	background: #23856D;
}

.tranparent-yellow {
	background: #E77C40;
}

.tranparent-dark {
	background: #252B42;
}

.tranparent-shapes {
	gap: 6px;
}

.cards-container {
	gap: 80px;
	max-width: 1440px;
	max-width: 100%;
	padding: 20px;
	padding-bottom: 80px;
	margin-inline: auto;
}

.cards-container-card {
	gap: 30px;
	flex-wrap: wrap;
}

.cards-container-title {
	font-size: 20px;
}

.cards-container-heading {
	padding-block: 10px;
	font-size: var(--medium-size);
	font-weight: var(--bold);
}

.cards-container-description {
	font-size: var(--font-size);
	letter-spacing: 0.2px;
}

.classic-product {
	max-width: 1440px;
	max-width: 100%;
	margin-inline: auto;
	padding-top: 112px;
	background:#23856D;
}

.classic-product-image {
	max-width: 443px;
	max-width: 100%;
}

.classic-product-text {
	max-width: 509px;
	gap: 30px;
}

.classic-product-title {
	font-size: var(--primary-heading-font);
	font-weight: var(--bold);
	color: var(--color);
	line-height: 1.37;
}

@media (max-width:768px) {
	.classic-product-title{
		font-size: 40px;
	}
}

.classic-product-description {
	max-width: 341px;
	font-size: var(--font-size);
	color: var(--color);
	line-height: 1.4;
}

.classic-product-buttons {
	gap: 34px;
}

.classic-product-price {
	font-size: var(--font-size);
	font-weight: var(--bold);
	color: var(--color);
}

 @media (max-width:992px) {
	.classic-product-content{
		flex-direction: column;
	}
 }

.classic-product-right {
	top: 330px;
}

.men:hover {
 background-color: #b4b4b4;
}

.text-img {
	max-width: 725px;
	max-width: 100%;
}

.txt-w-img-text-session {
	color: #BDBDBD;
	font-weight: var(--bold);
}

.txt-w-img-title {
	color: var(--font-color);
	font-size: 40px;
	font-weight: var(--bold);
	max-width: 375px;
	padding-block: 30px;
}

.txt-w-img-description {
	max-width: 383px;
	font-size: 20px;
	padding-bottom: 30px;
	line-height: 1.5;
}

@media (max-width:768px) {
	.txt-w-img-title{
		max-width: 230px;
    margin-inline: auto;
	}

	.txt-w-img-description {
		max-width: 231px;
	}
}


.read-me-btn {
	background: none;
	color: #2DC071;
	font-size: var(--font-size);
	font-weight: var(--bold);
	border: 1px solid currentColor;
	transition: all 0.3s ease-in;
}

.read-me-btn:hover {
	background: #000000f3;
	color: #FFF;
	transform: scale(1.1);
}

.txt-w-img {
	gap: 60px;
}

.buying-section {
	max-width: 1440px;
	max-width: 100%;
}

.buying-btn {
	gap: 10px;
}

.cards {
	max-width: 1440px;
	max-width: 100%;
	padding-block: 112px;

}

.advice {
	font-size: var(--font-size);
	color: #23A6F0;
	font-weight: var(--bold);
	padding-bottom: 10px;
}

.cards-title {
	font-size: var(--medium-size);
	font-weight: var(--bold);
	padding-bottom: 10px;
	color: var(--font-color);
}

.cards-description {
	max-width: 469px;
	font-size: 20px;
	margin-inline: auto;
	line-height: 1;
	padding-bottom: 80px;
	text-align: center;
}

.cards-items-description {
	max-width: 348px;
}

.cards-description-picture {
	max-width: 348px;
	object-fit: cover;
}

.cards-img {
	width: 100%;
}

.cards-items-list {
	gap: 15px;
	font-size: 12px;
	list-style: none;
}

.google-link {
	color: #23A6F0;
}

.cards-description-details-heading {
	font-size: 20px;
	font-weight: 400;
	color: var(--font-color);
	padding-block: 10px;
}

.cards-description-details {
	padding: 25px;
}

.cards-description-details-text {
	max-width: 280px;
	font-size: var(--font-size);
	line-height: 20px;
	font-weight: 400;
}

.post-img {
	width: 16px;
	height: 16px;
}

.post-txt {
	font-size: 12px;
}

.post-announcment {
	padding-block: 20px 25px;
}

.timer {
	gap: 10px;
}

.trading {
	gap: 10px;
}

.more-details-link {
	gap: 20px;
}

.more-details-link a {
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

.cards-containers {
	gap: 20px;
	flex-wrap: nowrap;
}

.new-product {
	color: var(--color);
	background-color: #E74040;
	padding: 5px 10px 5px 10px;
	position: absolute;
	top: 20px;
	left: 20px;
	font-weight: var(--bold);
	border-radius: 5px;
	font-size: 20px;
}

.cards-items {
	position: relative;
	box-shadow: 0px 2px 4px 0px #0000001A;
	transition: all 0.3s ease-in;
}

.cards-items:hover {
	background-color:#dadada;
	transform: scale(1.1);
	border-radius: 5px;
}

.footer {
	max-width: 1440px;
	max-width: 100%;
}

.footer-nav {
	justify-content: space-between;
	background-color: #FAFAFA;
	padding: 40px 195px;
}

.footer-link-list {
	font-size: 0;
	gap: 20px;
	flex-wrap: nowrap;
}

.card__collection {
	justify-content: center;
	gap: 30px;
}
.men-card{
	max-width: 551px;
	object-fit: cover;
}

.card__collection-btn {
	position: absolute;
	bottom: 26px;
	left: 31px;
	text-transform: uppercase;
	padding: 12px 64px 12px 56px;
	background-color: var(--color);
	font-weight: bold;
	border: 0;
	font-size: 16px;
	transition: all 0.3s ease-in;
}

.card__collection-btn:hover {
	cursor: pointer;
	background-color: rgb(144, 144, 144);
}

.women-card {
	object-fit: cover;
}

.women-collection {
	padding: 12px 33px;
	left: 21px;
	bottom: 18px;
}

.card__collection-image {
	width: 100%;
}

.accesories-collection {
	padding: 12px 26px;
	left: 8px;
}

.editor-pick {
	padding-block: 80px;
	gap: 48px;
	background: #D9D9D9;
}

.editor-pick-heading {
	font-size: var(--medium-size);
	font-weight: var(--bold);
	color: #252B42;
	padding-bottom: 10px;
}

.editor-pick-paragraph {
	font-size: var(--font-size);
	font-weight: var(--header-width-color);
	line-height: 1.4;
}

.card__collection-col {
	gap: 16px;
}

.collection-bg-768 {
	display: none;
}

.footer-nav-container {
	padding: 40px 195px;
	gap: 30px;
	flex-wrap: wrap;
}

.footer-nav__anchor {
	gap: 20px;
}

.input,.Subscirbe-btn {
	border: 1px solid #E6E6E6;
	cursor: pointer;
}

.Subscirbe-btn {
	background: #23A6F0;
	color: var(--color);
	font-size: var(--font-size);
	position: absolute;
	right: 0;
	top: 64px;
	border-radius: 0 5px 5px 0;
	padding: 14px 20px;
	transition: all 0.3s ease-in;
}

.Subscirbe-btn:hover {
	background: #252B42;
}

.input::placeholder {
	font-size: 14px;
	color: #737373;
	text-transform: capitalize;
}

.input {
	border-radius: 5px;
	width: 300px;
	padding: 15px 20px;
	background: #FAFAFA;
}

 @media (max-width:768px) {
	.input{
		width: 100%;
	}
}

.footer-heading {
	color: #252B42;
	font-weight: var(--bold);
	padding-bottom: 10px;
	font-size: 20px;
	padding-bottom: 20px;
}

 .footer-nav-container ul a {
	font-weight: var(--bold);
}

 .cp-R {
	font-weight: var(--bold);
	padding: 25px 195px;
	background: #FAFAFA;
}

 .cards-container-text {
	max-width: 699px;
	max-width: 100%;
	padding: 40px;
	text-align: center;
}

 .editor-pick-info {
	max-width: 607px;
	max-width: 100%;
	text-align: center;
}

 .svg-icon {
	width: 16px;
	height: 16px;
	fill: var(--font-color);
}

.h5{
	font-weight: var(--bold);
	color: var(--color);
	font-size: 16px;
}

.collection-bg.active {
	display: block;
}

.slider-buttons {
	display: flex;
	justify-content: center;
	gap: 5px;
	position: absolute;
	left: 40%;
	transform: translatey(50%);
	bottom: 50px;
}

.slider-btn {
	width: 62px;
	height: 10px;
	background-color: var(--color);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s;
	padding: 0;
}

.slider-btn.active {
	background-color: #ffffff7d;
}

.slider-btn:hover {
	opacity: 50%;
}

.lore-text {
	font-size: 12px;
	color: #737373;
}

.txt-w-img-txt {
	color: #BDBDBD;
}

.buy-btn{
	font-size: var(--font-size);
	font-weight: var(--bold);
	text-transform: uppercase;
	color: #FFF !important;
}

.buy-btn:hover{
	transform: scale(1.1);
}

.classic-product-arrow {
	bottom: 263px;
	position: absolute;
	cursor: pointer;
}

.classic-product-arrow path:hover {
	fill: #23A6F0;
}

@media (max-width:1040px) {
	.cards-container-card {
		justify-content: center;
		flex-wrap: wrap;
	}

	.txt-w-img {
		flex-direction: column-reverse;
		padding-top: 120px;
	}

	 .collection-info {
		left: 73px;
	}

	.classic-product-text {
		max-width: 100%;
		align-items: center;
	}

	.product-designer {
		padding: 0;
	}

}

@media (max-width:768px) {
	.cards-containers{
		flex-direction: column;
	}

	.classic-product-text {
		text-align: center;
	}

	.classic-product-description {
		margin-inline: auto;
	}

	.classic-product-buttons,.cards-container-card,.buying-btn,.card__collection {
		flex-direction: column;
	}

	.txt-w-img-text,.collection-info,.editor-pick {
		text-align: center;
	}

	.buy-btn {
		background-color: #23A6F0;
		max-width: 151px;
	}

	.buy-btn,.read-me-btn {
		border-color: #23A6F0;
		font-size: 14px;
		padding: 15px 40px;
		margin-inline: auto;
	}

	.read-me-btn {
		color: #23A6F0;
		width: 171px;
	}

	.buying-section {
		padding: 9px;
	}

	.cards {
		text-align: center;
		padding: 41px;
	}

	.cards-containers {
		text-align: start;
	}

	.collection-info {
		left: auto;
		padding: 30px;
	}

	h1 {
		font-size: 40px;
	}

	.collection-info__text {
		max-width: 100%;
	}

	.card__collection {
		align-items: center;
	}

	.men-card,.women-card,.accesories-card,.kids-card {
		width: 324px;
	}

	.collection-bg-768 {
		display: block;
		width: 100%;
	}

	.left-arrow,.right-arrow {
		top: 50%;
		transform: translateY(-50%);
	}

	.cards-container-card {
		width: 348px;
	}

	.header-links {
		width: 100%;
		flex-wrap: nowrap;
	}

	.footer-nav,.footer-nav-container {
		flex-direction: column;
		padding: 40px;
	}

	.footer-nav {
		gap: 24px;
		align-items: flex-start;
	}
	.cp-R {
		padding: 94px;
		max-width: 193px;
		max-width: 100%;
		text-align: center;
	}

	.cards-container-text {
		max-width: 279px;
	}

	.editor-pick-paragraph {
		max-width: 196px;
	}


	.responsive1-768 {
		content: url(/assets/new-collection/new-collection-768.svg);
		width: 100%;
	}

	.responsive2-768 {
		content: url(/assets/new-collection/new-collection2-768.svg);
		width: 100%;
	}

	.responsive3-768 {
		content: url(/assets/new-collection/new-collection3-768.svg);
		width: 100%;
	}

	.collection-bg.active {
		display:none;
	}

	.classic-arrow {
		top: 45%;
	}

	.slider-buttons {
		display: none;
	}

	.classic-collection-btn {
		width: 171px;
		padding: 15px;
		font-size: var(--font-size);
	}

	.classic-product-arrow {
		top: 43%;
	}

}

