@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--primary-heading-font:58px;
	--secondary-heading-size:40px;
	--font-size:14px;
	--secondary-font-size:24px;
	--primary-font-color:#252B42;
	--primary-btn-bg-color: #2DC071;
	--icons-primary-width:16px;
	--icons-primary-height:16px;
	--header-font-color:#fff;
	--font-width-bold:700;

}

body{
	font-family: "Montserrat", sans-serif;
}

.flex{
	display: flex;
}

.icons{
	width: var(--icons-primary-width);
	height: var(--icons-primary-height);
}

.align-items{
	align-items: center;
}

.list-style{
	list-style: none;
}

.hero{
	background-color: #252B42;
	padding: 9px 24px;
	justify-content: space-between;
	color: var(--header-font-color);
}

.hero__icon-gap{
	gap: 10px;
}

.icons-gap{
	gap: 5px;
}

.secondary-font-size{
	font-size: var(--font-size);
	font-weight: var(--font-width-bold);
}

.search-product{
	padding: 9px 24px;
	justify-content: space-between;
}

ul li a{
	text-decoration: none;
}

.search-product-gap{
	gap: 119px;
}

.primary-heading{
	font-size: var(--secondary-font-size);
	color: var(--primary-font-color);
	font-weight: var(--font-width-bold);
}

.search-product__gap{
	gap: 15px;
}

.arrow {
  border: solid #252B42;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.product-search-nav{
	font-size: var(--font-size);
	font-weight: bold;
}

.product-search-nav li a{
	color: #737373;
}

.search-product-text{
	color: #23A6F0;
}

.search-product-container{
	padding: 15px;
	text-align: center;
	gap: 10px;
}