@import '/css/style.css';

.announcement-bar{
    justify-content: space-around;
    background-color:#23856D;
}

.phone-icon:hover{
	fill: black;
}

.header{
	padding: 10px 93px;
}

.jcb{
	justify-content: space-between;
}

.item-center{
	align-items: center;
}

.shop-header-links{
	gap: 15px;
	font-size: 14px;
	font-weight: bold;
}

.link-arrow{
	font-size: 0;
}

.shop-card-header__home{
	color: #252B42;
}

.shop-card{
	background: #FAFAFA;
	max-width: 1440px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px 93px;
}

.img-container{
	max-width: 205px;
	object-fit: cover;
	overflow: hidden;
	position: relative;
	transition: opicity 0.5s ease-in;
}

.img-container:hover{
	opacity: 0.3;
}

.img-container img {
	width: 100%;
}

.shop-card-img-info{
	position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 70px;
	flex-direction: column;
	gap: 9.5px;
}

.shop-card-img-info p{
	font-size: 14px;
	color: #FFF;
}

.shop-card-img-info h5{
	font-size: 24px;
	font-weight: 700;
	color: #FFF;
}

.shop-card-img{
	padding-bottom: 48px;
}

.shop-card-header{
	padding-block: 24px;
}

@media (max-width:992px){
	.shop-card-img{
		flex-wrap: wrap;
	}

	.img-container{
		width: 100%;
		max-width: 100%;
	}

	.nav-item-hide{
		display: none
	}

	.shop-card-img-info{
		left: 50%;
	}

}
@media (max-width:768px){

	.shop-card-header,.shop-card-img{
		flex-direction: column;
	}

	.shop-card-img{
		align-items: center;
	}

	.shop-card-header{
		padding-block: 54px;
		gap: 54px;
	}

	.header{
		padding: 23px 35px;
	}

	.shop-card{
		padding: 23px 35px;
	}

	.shop-card-img-info{
		left: 35%;
	}

}

.shop-result{
	align-items: center;
	padding: 24px 93px;
	max-width: 1440px;
	max-width: 100%;
}

@media (max-width:768px){
	.shop-result{
		flex-direction: column;
		gap: 24px;
	}
}
.shop-result-text{
	font-size: 14px;
	font-weight: bold;
}

.views{
	align-items: center;
	gap: 15px;
}

.view-btn{
	padding: 16px;
	border: 1px solid #ECECEC;
	border-radius: 5px;
	background: #FFF;
	transition: all 0.3s ease-in;
}

.view-btn:hover{
	background: #c4c4c4;
}

.sort{
	display: flex;
	gap: 15px;
}

.sort select{
	padding: 11px 18px;
	color: #737373;
	border: 1px solid #DDDDDD;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	background-color: #f0f0f0;
}

.filter-btn{
	padding: 12px 27px;
	background: #23A6F0;
	color: #FFF;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	transition: all 0.3s ease-in;

}

.filter-btn:hover{
	background: #252B42;
}

.view-btn,.filter-btn{
	cursor: pointer;
}

.featured-product-designer{
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.featured-product{
	padding: 24px 93px;
	max-width: 1440px;
	max-width: 100%;
}

@media (max-width:768px){
	.featured-product-designer-design{
		width: 100%;
		justify-content: center;
	}
	.featured-product{
		padding: 24px 35px;
	}
}

.company-logo{
	max-width: 1440px;
	max-width: 100%;
	padding: 24px 93px;
	background: #FAFAFA;
	gap: 24px;
	flex-wrap: wrap;
}

@media (max-width:992px){
	.company-logo{
		justify-content: center;
	}
}

@media (max-width:768px){
	.company-logo{
		flex-direction: column;
    gap: 60px;
    padding-block: 110px;
	}
}

.footer-socail-links{
	background: #FFF;
	padding: 24px 93px;
}

.footer-link-cotainer{
	padding: 24px 93px;
}
